body {
    text-align: center;
    justify-content: center;

}

h1 {
    padding: 70px;
}

h2 {
    padding: 20px;
}

#main {
    background-color: rgb(224, 213, 197);
    position: relative;
    width:fit-content;
    height: fit-content; 
    border-radius: 5px;
    
}

#img-div {
    background-color: white;
    margin: auto;
    border-radius: 3px;
    width: 650px;
    height: 500px;
}